src/node_modules/
src/public/dashboard-app/node_modules/
src/public/dist/
src/*.log
src/logs/
src/data/
src/.env
src/.env.*
!src/.env.example
src/*.sqlite
src/*.sqlite-shm
src/*.sqlite-wal
src/*.db
src/*.db-shm
src/*.db-wal
.git/
*.md
connectors/afp-daemon/node_modules/
connectors/afp-oauth/node_modules/
